<footer class="footer">
  <div class="footer-container">
    <p>&copy; {{ currentYear }} Marcos Lucena - Todos os direitos reservados</p>

    <div class="social-links">
      <a href="https://wa.me/5574998135964" target="_blank" title="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="https://github.com/MarcosLucena0" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/marcos-lucena-91576a245/" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="mailto:marcoslucenadesouza&#64;gmail.com" title="E-mail">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>
