<section class="contato" id="contato">
  <h2>Contato</h2>
  <p>Disponivel para novos projetos!</p>

  <div class="contato-info">
    <div class="info-item">
      <i class="fa-brands fa-whatsapp"></i>
      <span>(74) 99813-5964</span>
      <a href="https://wa.me/5574998135964" target="_blank" class="link-acao">Enviar Mensagem</a>
    </div>

    <div class="info-item">
      <i class="fa-solid fa-envelope"></i>
      <span>marcoslucenadesouza&#64;gmail.com</span>
      <a href="mailto:marcoslucenadesouza&#64;gmail.com" class="link-acao">Enviar E-mail</a>
    </div>

    <div class="info-item">
      <i class="fa-brands fa-linkedin"></i>
      <span>Marcos Lucena</span>
      <a href="https://www.linkedin.com/in/marcos-lucena-91576a245/" target="_blank" class="link-acao">Acessar Perfil</a>
    </div>

    <div class="info-item">
      <i class="fa-solid fa-location-dot"></i>
      <span>São Paulo - SP, Brasil</span>
    </div>
  </div>

</section>


