<section class="sobre" id="sobre">

  <h2 class="titulo-sobre">Sobre Mim</h2>

  <div class="container-sobre">
    <!-- Foto -->
    <div class="sobre-imagem">
      <img src="/img-sobre/sobre-mim.png" alt="Foto de Marcos Lucena">
    </div>

    <!-- Texto + Tecnologias -->
    <div class="sobre-conteudo">
      <p>
        Oi, meu nome é Marcos!, formado em ADS(Análise e Desenvolvimento de Sistema) na FIAP, formação ténica em Informática pelo IFBA e apaixonado por tecnologia.
        Atualmente desenvolvo com Java, usando SpringBoot, Angular e SQL, focando em aplicações de soluções eficientes e funcionais. Ao longo da minha trajetória,
        participei de diversos projetos acadêmicos, o que contribuiu significativamente para meu desenvolvimento técnico e profissional. <br>
        No meu tempo livre gosto bastante de treinar Calistenia, lê livos ou procurar alguma trilha para se aventurar. Sou o tipo de pessoa tranquila,
        dedicada, com grande facilidade de aprendizado, boa comunicação interpessoal e estou constantemente em busca de aprimoramento. Abaixo, estão as tecnologias que possuo conhecimento.
      </p>

      <div class="tecnologias" aria-label="Tecnologias que eu utilizo">
        <i class="fab fa-html5" title="HTML5" ></i>
        <i class="fab fa-css3-alt" title="CSS3"></i>
        <i class="fab fa-js" title="JavaScript"></i>
        <i class="fab fa-java" title="Java"></i>
        <i><img src="/img-sobre/icon-spring.png" title="Spring"></i>
        <i class="fab fa-angular" title="Angular"></i>
        <i><img src="/img-sobre/icon-sql.png" title="SQL"></i>
        <i><img src="/img-sobre/icon-kotlin.png" title="Kotlin"></i>
        <i class="fa-brands fa-node" title="NodeJS"></i>
        <i class="fa-brands fa-github" title="GitHub"></i>
        <i class="fab fa-git-alt" title="Git"></i>
      </div>

      <div class="sobre-curriculo">
        <a href="/curriculo/Currículo.pdf" download class="btn-curriculo" aria-label="Baixar currículo de Marcos Lucena">
          Baixar Currículo
        </a>
      </div>
    </div>

  </div>
</section>


