<section class="sobre" id="sobre">

  <h2 class="titulo-sobre">Sobre Mim</h2>

  <div class="container-sobre">
    <!-- Foto -->
    <div class="sobre-imagem">
      <img src="/img-sobre/sobre-mim.png" alt="Foto de Marcos Lucena">
    </div>

    <!-- Texto + Tecnologias -->
    <div class="sobre-conteudo">
      <p>
        Oi, eu sou o Marcos! Sou formado em Análise e Desenvolvimento de Sistemas (ADS) pela FIAP e formação técnica em Informática pelo IFBA. Desde cedo sou apaixonado
        por tecnologia e hoje desenvolvo com Java (Spring Boot), Angular e SQL, sempre buscando criar soluções práticas e funcionais.
        Durante minha trajetória, participei de vários projetos acadêmicos que me ajudaram bastante a evoluir tanto no lado técnico quanto no pessoal.
        No meu tempo livre, curto praticar calistenia, ler bons livros e explorar trilhas para viver novas aventuras. Me considero uma pessoa tranquila, dedicada, com facilidade para aprender,
        boa comunicação e que está sempre em busca de melhorar um pouco mais a cada dia.
        Aqui embaixo você encontra as tecnologias que já domino e gosto de trabalhar.
      </p>

      <div class="tecnologias" aria-label="Tecnologias que eu utilizo">
        <i class="fab fa-html5" title="HTML5" ></i>
        <i class="fab fa-css3-alt" title="CSS3"></i>
        <i class="fab fa-js" title="JavaScript"></i>
        <i class="fab fa-java" title="Java"></i>
        <i><img src="/img-sobre/icon-spring.png" title="Spring"></i>
        <i class="fab fa-angular" title="Angular"></i>
        <i><img src="/img-sobre/icon-sql.png" title="SQL"></i>
        <i><img src="/img-sobre/icon-kotlin.png" title="Kotlin"></i>
        <i class="fa-brands fa-node" title="NodeJS"></i>
        <i class="fa-brands fa-github" title="GitHub"></i>
        <i class="fab fa-git-alt" title="Git"></i>
      </div>

      <div class="sobre-curriculo">
        <a href="/curriculo/Curriculo.pdf" download class="btn-curriculo" aria-label="Baixar currículo de Marcos Lucena">
          Baixar Currículo
        </a>
      </div>
    </div>

  </div>
</section>


