<section id="inicio" class="inicio">

  <video autoplay muted loop playsinline class="video-bg">
    <source src="/img-inicio/img-banners/banner3.mp4" type="video/mp4">
  </video>

  <div class="overlay">
    <h1>Bem vindo ao meu Portfólio!</h1>

    <h2>Marcos Lucena</h2>

    <p>Desenvolvedor Full-Stack</p>

    <div class="social-links">
      <a href="https://wa.me/5574998135964" target="_blank"><img src="/img-inicio/img-icones/icon-whatsapp.png" alt="icone Whatsapp" title="WhatsApp"></a>
      <a href="https://github.com/MarcosLucena0" target="_blank"><img src="/img-inicio/img-icones/icon-github.png" alt="icone Github" title="Github"></a>
      <a href="https://www.linkedin.com/in/marcos-lucena-91576a245/" target="_blank"><img src="/img-inicio/img-icones/icon-linkedin.png" alt="icone linkedin" title="Linkedin"></a>
    </div>
  </div>
</section>


